{% extends 'base.error.html.twig' %}

{% block title %}Oops! An Error Occurred{% endblock title %}


{% block body %}
    <h1 class="number text-center">500</h1>
    <h2 class="description text-center">An error occurred, Administrator has been notified!</h2>
{% endblock body %}
