{% extends 'base.error.html.twig' %}

{% block title %}Page not found!{% endblock title %}


{% block body %}
    <h1 class="number text-center">404</h1>
    <h2 class="description text-center">Sorry, but this page doesn't exists!</h2>
{% endblock body %}

