{% extends 'base.error.html.twig' %}

{% block title %}Access denied!{% endblock title %}


{% block body %}
    <h1 class="number text-center">403</h1>
    <h2 class="description text-center">Access Denied/Forbidden, Please check your permissions!</h2>
{% endblock body %}

