{% extends 'base.html.twig' %}

{% block body %}

{% endblock body %}

{% block page_header %}
    <div class="page-head">
        <h2>{{ page_header }}</h2>
        <ol class="breadcrumb">
            <li><a href="{{ path('dashboard_home') }}">Home</a></li>
            <li class="active">{{ breadcrumb }}</li>
        </ol>
    </div>
{% endblock page_header %}